<div id="<%= dom_id concierto %>">
  <p>
    <strong>Lugar:</strong>
    <%= concierto.lugar %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= concierto.fecha %>
  </p>

  <p>
    <strong>Asistentes:</strong>
    <%= concierto.asistentes %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= concierto.group_id %>
  </p>

</div>
