<div id="<%= dom_id group %>">
  <p>
    <strong>Nombre:</strong>
    <%= group.nombre %>
  </p>

  <p>
    <strong>Integrantes:</strong>
    <%= group.integrantes %>
  </p>

  <p>
    <strong>Conciertos:</strong>
    <%= group.conciertos %>
  </p>

  <p>
    <strong>Debut:</strong>
    <%= group.debut %>
  </p>

  <p>
    <strong>Genero:</strong>
    <%= group.genero %>
  </p>

  <p>
    <strong>Contrato:</strong>
    <%= group.contrato %>
  </p>

</div>
